<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>rebuy-go-sdk</title>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/script.js"></script>
  </head>
  <body>
    <p>Hello @ {{ prettyTime .now }}</p>

    <ul>
        <li><a href="/error">/error</a></li>
        <li><a href="/json">/json</a></li>
        <li><a href="/redirect">/redirect</a></li>
    </ul>

  </body>
</html>
