name: Golang

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]
  release:
    types: [published]
  schedule:
  - cron: '15 3 * * 0'

jobs:
  build:
    runs-on: ubuntu-24.04
    name: CI Build

    steps:
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        lfs: true

    - name: Build Project
      run: ./buildutil

    - name: Build examples/minimal
      run: cd examples/minimal && ./buildutil

    - name: Build examples/full
      run: cd examples/full && ./buildutil
